# Ignoriere Roms
*.gbc
*.gb
*.1
# Ignoriere Savefiles
*.ksv
src/mm
src/mm/*
src/rom_bios.h
vendor/
vendor/*
.vs/

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods

# Technical docs might be copyrighted, so don't add them to git
docs/technical
